.login-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 30px 0;
}

.login-container {
    background-color: #99a5fc;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-link {
    color: #0000EE;
    cursor: pointer;
}

.login-link:hover {
    color: #800080;
    cursor: pointer;
}

.form-group {
    margin: 20px 0;
    text-align: center;
}

.label {
    color: #ab0000;
}
