
.certificate {
    width: 100%;
    height: 100px;
    border: #0000EE solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.username {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
}

.validFrom {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
}

.validTo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
}

.download {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
}
